<header>
   <h2 class="headline">KLINIK BIDAN SRI MARYATI</h2>
   <p class='jadwal'> Selamat Datang, Silahkan Untuk Melihat Jam Buka Terlebih Dahulu Sebelum Melakukan Pendaftaran</p>
   <div class="container">
      <div class="menu">
         <a href="index.php" class="button"><span class="button-text">Beranda</span></a>
         <a href="Pendaftaran.php" class="button"><span class="button-text">Pendaftaran Layanan</span></a>
         <a href="riwayat.php" class="button"><span class="button-text">Riwayar Pemeriksaan</span></a>
      </div>
   </div>
</header>